#registerPane, #rootPane{
	-fx-background-color:white;
}

#menuBar{
	-fx-background-color: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.4) , 10,0,0,0, 20);
}

#leftPane{
	-fx-border-color: rgb(200, 200, 200);
	-fx-border-insets: 0;
	-fx-border-width: 0 1 0 0;
	-fx-border-style: solid;
}

#searchClearButton{
	-fx-background-radius:35px;
	-fx-background-color:rgb(220, 220, 220);
}
#searchClearButton:hover{
	-fx-background-color:rgb(200, 200, 200);
}
#searchClearButton:pressed{
	-fx-background-color:rgb(160, 160, 160);
}
#searchClearButton:disabled{
	visibility:hidden;
}


.contactListEntry{
	-fx-cursor: hand;
	-fx-background-color:white;
}
.contactListEntry:hover{
	-fx-background-color:rgb(240, 240, 240);
}
.contactListEntry:pressed{
	-fx-background-color:rgb(230, 230, 230);
}



.button-dark {
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 10 20 10 20;
}
.button-dark:pressed {
	-fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 50%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}
